.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: var(--c-bg);
  border-bottom: 1px solid var(--c-border);
}

.logo {
  color: var(--c-accent);
  margin-left: 0;
}

.logo img {
  height: 33px;
}

.nav {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav button {
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-subtext);
  transition: color 0.3s;
}

.nav button:hover {
  color: var(--c-text);
}

.cta-button {
  display: inline-block;
  background-color: var(--c-accent);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
/*.cta-button:hover {
  background-color: #FF6B6B;
}*/
